@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

body {
  overflow: hidden;
}

div#box {
  overflow: auto;
  height: 75px;
  font-size: 1.5rem;
}

a {
  padding: 0.85rem;
  color: white;
  text-decoration: none;
  font-size: 1rem
}

a.active, a:hover {
  color: aqua;
}

iframe {
  height: calc(100vh - 72px);
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: #212529;
  color: white;
  padding: 1rem;
  font-size: 1rem;
  animation-duration: 5s;
  animation-name: changeColor;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes changeColor {
  from {
    color: aqua;
  }

  to {
    color: white;
  }
}
