body {
  overflow: hidden;
}

div#box {
  overflow: auto;
  height: 75px;
  font-size: 1.5rem;
}

a {
  padding: 0.85rem;
  color: white;
  text-decoration: none;
  font-size: 0.95rem
}

a.active {
  color: aqua;
}

iframe {
  height: calc(100vh - 72px);
}
